<div class="contenedor">
    <div class="contenido">
        <img class="loginImg mb-3" src="assets/media/img/login.png" alt="login">
        <h1 class="titulo mb-3">Opciones de login</h1>
        <i class="fa-solid fa-envelope"></i>
        <form>
            <div class="d-grid gap-2 mb-3">
                <a routerLink="/login"><button class="btn btn-primary btn-lg"><i class="fa-solid fa-envelope"></i> login con email</button></a>
            </div>
            <div class="d-grid gap-2 mb-3">
                <a routerLink="/registrotel"><button class="btn btn-info btn-lg"><i class="fa-solid fa-phone"></i> login con teléfono</button></a>
            </div>
            <a routerLink="/opregistro">Regístrate</a>
        </form>
    </div>
</div>