<div class="contenedor">
    <div  class="contenido">
        <img class="loginImg mb-3" src="assets/media/img/email.png" alt="registromail">
        <h1 class="titulo mb-3">Registro</h1>
        <form (ngSubmit)="registrar()" [formGroup]="registrarU">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
                <label>Nombre</label>
            </div>
            <div class="form-floating">
                <input type="email" class="form-control mb-3" formControlName="email" placeholder="name@example.com">
                <label>Email</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" formControlName="tel" [(ngModel)]="tel" min="10" max="13" name="tel" placeholder="Teléfono">
                <label>Teléfono</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control mb-3" formControlName="contra" placeholder="Password">
                <label>Contraseña</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control mb-3" formControlName="repetirContra" placeholder="Password">
                <label>Repetir contraseña</label>
            </div>
            <div class="d-grid gap-2 mb-3">
                <button class="btn btn-primary btn-lg" id="sign-in-button" type="submit">Aceptar</button>
            </div>
            <a routerLink="/opregistro">Volver</a>
        </form>
    </div>
    <!-- <app-spinner *ngIf="cargando"></app-spinner> -->
</div>