<div class="contenedor">
    <div class="contenido">
        <img class="loginImg" src="assets/media/img/telephone.png" alt="login">
        <h1 class="titulo mb-3">Login</h1>
        <form>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" placeholder="name@example.com">
                <label>Phone Number</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control mb-3" placeholder="Password">
                <label>Password</label>
            </div>
            <div class="d-grid gap-2 mb-3">
                <button class="btn btn-primary btn-lg" type="submit">Ingresar</button>
            </div>
            <a routerLink="/">Menú principal</a>
            <br>
            <a class="mt-3" routerLink="/recuperacion">Olvidé mi contraseña</a>
        </form>
    </div>
</div>