<div class="contenedor">
    <div class="contenido">
        <img class="loginImg mb-3" src="assets/media/img/registro.png" alt="registro">
        <h1 class="titulo mb-3">Opciones de registro</h1>
        <i class="fa-solid fa-envelope"></i>
        <form>
            <div class="d-grid gap-2 mb-3">
                <a routerLink="/registro"><button class="btn btn-primary btn-lg"><i class="fa-solid fa-envelope"></i> registro con email</button></a>
            </div>
            <div class="d-grid gap-2 mb-3">
                <a routerLink="/registrotel"><button class="btn btn-info btn-lg"><i class="fa-solid fa-phone"></i> registro con teléfono</button></a>
            </div>
            <a routerLink="/oplogin">Volver</a>
        </form>
    </div>
</div>